body {
  font-family: "Vollkorn", serif;
  font-weight: 400;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1110px;
}

.header {
  margin: 72px 0;
}
.header__row {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  max-width: 52px;
}
.header__mail {
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 3%;
  align-self: center;
}
.header__mail a {
  color: #000;
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.main__top {
  display: inline-block;
  margin-bottom: 98px;
}
.main__top .name {
  font-size: 18px;
  letter-spacing: 3%;
  margin-bottom: 21px;
  margin-top: 130px;
}
.main__top h1 {
  font-size: 45px;
  line-height: 99.28%;
  letter-spacing: 7%;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 21px;
}
.main__top p {
  font-size: 18px;
  letter-spacing: 3%;
  margin-bottom: 21px;
}
.main__top .btn {
  width: 195px;
  background-color: #6A85E3;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3%;
  color: #fff;
  padding: 18px 30px;
  border: none;
  cursor: pointer;
}
.main__top .red {
  width: 195px;
  background-color: #e36aa8;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3%;
  color: #fff;
  padding: 18px 30px;
  border: none;
  cursor: pointer;
}
.main__bottom {
  width: 395px;
  box-sizing: border-box;
  background-color: #EAEAEA;
  padding: 30px;
}
.main__image {
  width: 441px;
  height: 596px;
  position: relative;
}
.main__image .pic {
  max-width: 380px;
  max-height: 547px;
  position: absolute;
}
.main__image .first {
  top: 0;
  left: 0;
  z-index: 2;
}
.main__image .second {
  right: 0;
  bottom: 0;
  z-index: 1;
}

.title {
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 3%;
}

.body {
  font-size: 15px;
  line-height: 155%;
  letter-spacing: 3%;
}

.footer {
  text-align: center;
  padding: 18px;
  font-size: 18px;
  background-color: #EAEAEA;
}